<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lista de Colmados </ion-title>
    </ion-toolbar>
    <ion-segment mode="md"  [value]="segment"  (ionChange)="segmentChanged($event)" >
        <ion-segment-button value="profile">
            <ion-label>Colmados</ion-label>
        </ion-segment-button>
        <ion-segment-button value="chat">
            <ion-label>Mapa</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-header>
<ion-content *ngIf="segment == 'chat'">
    <agm-map 
    class="maps"
    [latitude]="mapsCoords.lat"
    [longitude]="mapsCoords.lng"
    [zoom]="11"
    [disableDefaultUI]="false"
    
    >
    <agm-marker 
        *ngFor="let m of markers; let i = index"
        [latitude]="m.latitude"
        [longitude]="m.longitude"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (click)="onMouseOver(infoWindow)"
        >
        
        <agm-info-window [disableAutoPan]="false" #infoWindow>

            <div>
                {{m.name}}
            </div>

        </agm-info-window>
    </agm-marker>
  
  </agm-map>
</ion-content>

<ion-content *ngIf="segment == 'profile'">
    <ion-list>
        <ion-item *ngFor="let user of markers" >
            <ion-avatar slot="start">
                <img src="../../assets/user.png" />
            </ion-avatar>
            <ion-label >
                {{user.name}}
                <div class="uk-flex uk-flex-between">
                    <p>
                        <ion-text>
                            Escribele un mensaje ahora
                        </ion-text>
                    </p>
                    <a class="uk-button uk-button-default" style="border: 0px;" href="#modal-overflow-delete" uk-toggle>
                        <ion-icon style="width: 25px; height: 25px" name="trash-outline"></ion-icon>
                    </a>
                    <div id="modal-overflow-delete" class="uk-flex-top" uk-modal>
                        <div class="uk-modal-dialog">
                
                            <button class="uk-modal-close-default" type="button" uk-close></button>
                
                            <div class="uk-modal-header">
                                <h4 class="">Eliminar Colmado</h4>
                            </div>
                
                            <div class="uk-modal-body" uk-overflow-auto>
                                <div class="container-profile">
                                    <div>
                                        <p>Esta seguro que desea eliminar este colmado?</p>
                                    </div>
                                </div>
                            </div>
                
                            <div class="uk-modal-footer uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                                <button class="uk-button uk-button-primary uk-modal-close" (click)="deleteUser(user.id)" type="button">Eliminar</button>
                            </div>
                
                        </div>
                    </div>
                </div>
            </ion-label>
        </ion-item>
    </ion-list>
    <a class="uk-button uk-button-default" href="#modal-overflow" uk-toggle>
        <ion-fab slot="fixed" vertical="bottom" horizontal="end">
            <ion-fab-button>
              <ion-icon name="add"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </a>
   
    <div id="modal-overflow" uk-modal>
        <div class="uk-modal-dialog">

            <button class="uk-modal-close-default" type="button" uk-close></button>

            <div class="uk-modal-header">
                <h2 class="uk-modal-title">Agregar Colmado</h2>
            </div>

            <div class="uk-modal-body" uk-overflow-auto>
                <div class="container-profile">
                    <div>
                        <p>Introduzca el nombre del colmado</p>
                    </div>
                    <div class="uk-margin">
                        <input class="uk-input" [(ngModel)]="name" type="text" placeholder="nombre del colmado" aria-label="Input">
                    </div>
                    <div class="uk-margin">
                        <div class="uk-flex uk-flex-around">
                            <label for="l">
                                <input type="checkbox" (click)="addDays('L')" name="" id="l">
                                L
                            </label>
                            <label for="m">
                                <input type="checkbox" (click)="addDays('M')" name="" id="m">
                                M
                            </label>
                            <label for="x">
                                <input type="checkbox" (click)="addDays('X')" name="" id="x">
                                X
                            </label>
                            <label for="j">
                                <input type="checkbox" (click)="addDays('J')" name="" id="j">
                                J
                            </label>
                            <label for="v">
                                <input type="checkbox" (click)="addDays('V')" name="" id="v">
                                V
                            </label>
                            <label for="s">
                                <input type="checkbox" (click)="addDays('S')" name="" id="s">
                                S
                            </label>
                        </div>
                    </div>
                    <div class="uk-margin uk-flex uk-flex-center">
                        <input class="uk-input uk-width-1-2" [(ngModel)]="latitude" type="text" placeholder="Latitude" aria-label="Input">
                        <input class="uk-input uk-width-1-2 uk-margin-left" [(ngModel)]="longitude" type="text" placeholder="Longitude" aria-label="Input">
                        <ion-icon (click)="getCurrentLocation()" style="width: 50px; height: 30px;" name="navigate-outline"></ion-icon>
                    </div>
                </div>
            </div>

            <div class="uk-modal-footer uk-text-right">
                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                <button class="uk-button uk-button-primary uk-modal-close" (click)="saveUser()" type="button">Guardar</button>
            </div>

        </div>
    </div>
        
</ion-content>

