<section>
  <div class="container py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Estudiantes</h3>
          <div>
            <p (click)="sortByStatus()" class="mb-0"><span class="text-muted">Ordenar Por: </span>
              <u *ngIf="statusSort == studentStatus.Pending">No ha llegado</u>
              <u *ngIf="statusSort == studentStatus.Present">Presente</u>
              <u *ngIf="statusSort == studentStatus.Absent">Ausente</u>
              <u *ngIf="statusSort == studentStatus.Excuse">Excusa</u>
            </p>
          </div>
        </div>

        <div>
          <select class="form-select m-1 mb-4" name="miselect" [(ngModel)]="selectedDate">
            <option *ngFor="let currentDate of dates" [value]="currentDate.id">{{currentDate.name}}</option>
          </select>
        </div>
        <hr />
        <div>
          <button *ngIf="isUpdated" class="btn btn-success col-12 save " (click)="save()">
            <i class="bi bi-database-up " style="font-size: large; float: left;"></i> <span>Guardar</span>
          </button>
        </div>
        <div class="overflow-auto p-1" style="max-height: 500px;">
          <app-profile role="button" *ngFor="let student of this.students" [student]="student"
            (changeUpdate)="changeIsUpdate()"></app-profile>
        </div>

      </div>

    </div>
  </div>
</section>